#giscus{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-max-width);
}


#rhizoome-logo {
    max-width: 100%;
}

.sp-inline-float {
    width: 100%;    
}

.sp-inline-float img {
    margin: 0;
}

.sp-inline-float p {
    margin: 0;
    text-align: center;
    font-size: 90%;
    color: var(--sidebar-active);
}

.sp-download {
    text-align: center;
    font-weight: bold;
    font-size: 130%;
    color: var(--sidebar-active) !important;
}

.sp-list table tbody td:nth-child(odd) {
    font-weight: bold;
    color: var(--sidebar-active);
    text-align: right;
    white-space: nowrap;
}

.sp-list table tbody td:nth-child(even) {
    background-color: var(--bg);
}

.sp-list table tbody td:nth-child(odd) {
    background-color: var(--table-alternate-bg);
}

.sp-list table thead {
    display: none;
}

.sp-list tr {
    background: inherit;
}

.sp-list tr:nth-child(2n) {
    background: inherit;
}

.sp-list-left table {
    margin: inherit;
}

.content img {
  cursor: zoom-in;
  position: relative;
}

.content img:active {
  position: fixed;
  display: flex;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  margin: auto;
  z-index: 1073741824;
  cursor: zoom-out;
  background: var(--bg);
  max-width: calc(100vw - 40px) !important;
  max-height: calc(100vh - 40px);
  width: auto;
  height: auto;
  object-fit: contain;
}

